{
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": [0],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-console": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "noUnusedLocals": true,
    "noUnusedParameters": true
  },
}
